<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="strConn" value="Server = 10.181.48.143;Database = WizIntegrate_XMH;User ID = devuser;Password = 2@#%WERsdf;Trusted_Connection = False;"/>
    <add key="strConnA" value="Server = 10.181.48.143;Database = WizPlant_XMH;User ID = devuser;Password = 2@#%WERsdf;Trusted_Connection = False;"/>
	  <!--<add key="strConn" value="Server = .\SQLEXPRESS;Database = WizIntegrate_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;"/>
	  <add key="strConnA" value="Server = .\SQLEXPRESS;Database = WizPlant_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;"/>-->
    <add key="strConnS" value="Server = .;Database = WizIntegrate_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;"/>
    <add key="strConnT" value="Server = .;Database = WizPlant_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;"/>
  </appSettings>
</configuration>