<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAServiceBinding" />
                <binding name="IDeviceInfoForGisImpl_queryDeviceInfoByIdSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.111.8.227:9734/0D44ECD5-BECE-4B97-AD89-55FC01DB6D3C"
                binding="basicHttpBinding" bindingConfiguration="SOAServiceBinding"
                contract="SBTZSOA.SOAServicePort" name="SOAService" />
            <endpoint address="http://10.111.243.54:8080/web/lcam/fwms/soa/cxf/TBIIDeviceInfoForGisImplqueryDeviceInfoById"
                binding="basicHttpBinding" bindingConfiguration="IDeviceInfoForGisImpl_queryDeviceInfoByIdSoapBinding"
                contract="SBTZ.IDeviceInfoForGisImpl_queryDeviceInfoById"
                name="IDeviceInfoForGisImpl_queryDeviceInfoByIdPort" />
        </client>
    </system.serviceModel>
</configuration>