<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="isSoa" value="true" />
	  <!--add key="sbbms" value="05010028821773" /-->
	  <add key="sbbms" value="05080001978827" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="strConn" value="Server = .;Database = WizIntegrate_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;" />

    <!--<add key="mongodbServer" value="mongodb://scadaUser:PEadmin@192.168.54.69:9920,192.168.54.69:9921/scadaDB?replicaSet=scadaReplSet&amp;readPreference=secondaryPreferred&amp;ssl=true&amp;sslverifycertificate=false" />-->
    <!--<add key="mongodbServer" value="mongodb://scadaUser:PEadmin@192.168.54.69:9920,192.168.54.69:9921/scadaDB?replicaSet=scadaReplSet&amp;readPreference=secondaryPreferred&amp;ssl=true&amp;sslverifycertificate=false" />-->
    <add key="mongodbServer" value="mongodb://scadaUser:PEadmin@192.168.66.167:9920,192.168.66.167:9921/scadaDB?ssl=true&amp;sslverifycertificate=false&amp;readPreference=secondaryPreferred" />

    <!--MongoDB数据库名-->
    <add key="mongodbDB" value="scadaDB" />

  </appSettings>
  <system.serviceModel>
	  <diagnostics>
		  <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
	  </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" />
      </basicHttpBinding>
    </bindings>
    <client>       
        <endpoint address="http://10.111.243.54:8080/web/lcam/fwms/soa/cxf/TBIIDeviceInfoForGisImplqueryDeviceInfoById" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="SBTZ.IDeviceInfoForGisImpl_queryDeviceInfoById" name="IDeviceInfoForGisImpl_queryDeviceInfoByIdPort" />
		<endpoint address="http://10.111.8.227:9734/0D44ECD5-BECE-4B97-AD89-55FC01DB6D3C" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="SBTZSOA.SOAServicePort" name="SOAServicePort" />
        <!--<endpoint address="http://10.111.8.199:9734/0D44ECD5-BECE-4B97-AD89-55FC01DB6D3C" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="SBTZSOA.SOAServicePort" name="SOAServicePort" />-->
	</client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1215">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender" level="ERROR">
      <file value="Logs/errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="200KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%thread] %logger - %message%newline at %file:%line%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ALL" />
      </filter>
    </appender>
    <!-- Set default logging level to TRACE -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="ServiceModelMessageLogginglistener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="ServiceModelMessageLogginglistener" initializeData="Messages.xml" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>
