<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="userToken" value="1" />
    <add key="XMH" value="/110kV_洗江T线_18167_双接地隔离开关_地刀操作机构" />
    <!-- -->
    <!--与模型交互测点实时数据测点集合-->
    <add key="tagList1" value="13022,13023,13025,13039,13040,13042,13053,13054,13055,13112,13113,13115,13151,13152,13154,13221,13223,13226,13229,13230,13231,13254,13255,13256,13279,13280,13281,13307,13309,13312,13313,13314,13338,13339,13340,13364,13365,13366,13390,13391,13392,13415,13416,13417,13441,13442,13443,13467,13468,13469,13498,13499,13500,13529,13530,85039" />
    <!--与VR交互测点实时数据测点集合-->
    <add key="tagList2" value="84638,84639,84640,84672,84673,84674,84700,84712,84713,84714,84715,84716,84717,84718,84719,84720,84721,84783,84784,84785,84786,84787,84788,84789,84790,84791,84792,84793,84812,84826,84827,84828,84829,84830,84835,84847,84848,84849,84871,84882,84883,84884,84903,84904,84905,84915,84916,84917,84927,84928,84929,84939,84940,84941,84955,84956,84957,84968,84969,84970,84981,84982,84983,84994,84995,84996,85005,85006,85007,85016,85017,85018,85026,85027,85035,85036,85041,85042,85043,14391,13156,13117,13113,13114,13115,13116,13152,13153,13154,13155,13023,13024,13025,13026,13221,13222,13223,13224,13225,13226" />
    <!--SVG实时刷新测点集合-->
    <add key="XMH_SVG_XMH.SVG" value="12936,12937,12935,12934,12927,12928,12926,12925,12904,12905,12901,12910,12911,12907,12916,12917,12913,12944,12940,12969,12970,12971,12975,12972,12968,13013,13014,13015,13019,13016,12978,12979,12976,12983,12984,12981,12988,12989,12986,12993,12994,12991,12998,12999,12996,13003,13004,13001,13008,13006,13011,13009,12965,12966,12961,12963,12958,12959,12954,12956,12921,12919,12951,12952,12947,12949,119045,119046,119047" />

    <!-- 13226,13113,13225,13122,13227,13114 -->
    <add key="XMH_PR_XMH_MODEL.PR" value="13226,13113,13225,13122,13227,13114" />

    <!-- 13226,13113,13225,13122,13227,13114 -->
    <add key="XMH_PR_cf4e123b-3da6-4690-96ed-2638818067a9.PR" value="13226,13113,13225,13122,13227,13114,13223,13221" />

    <!-- XMH虚拟仿真1 对应模型文件为： -->
    <add key="XMH_VR_XMH.PR" value="84680,84724,43678,43705" />
    
    <!--数据库连接字符串10.181.48.143 2@#%WERsdf-->
    <add key="strConn" value="Server =192.168.88.244 ;Database = WizIntegrate_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;" />
	  <!--<add key="strConn" value="Server = .\SQLEXPRESS;Database = WizIntegrate_XMH;User ID = devuser;Password = devpwd;Trusted_Connection = False;"/>-->


    <!--南网云文档验证服务-->
    <add key="anyshareauthservice" value="http://10.181.51.205:9998/v1" />

    <!--南网云文档文件服务-->
    <add key="anysharefileservice" value="http://10.181.51.205:9123/v1" />

    <!--南网云文档文件用户-->
    <add key="anyshareuser" value="变电站三维" />

    <!--南网云文档文件用户密码-->
    <add key="anysharepassword" value="111111" />

    <!--南网云文档服务公钥-->
    <add key="anysharepublickey" value="uyS9A3GjFB7pknYcV08aogAQQgxEYUSSLADwfvs8dSDYEhCjxm3sQ7daI3DQHNHyPhv8k7kHIB9RFvKaLIFJ4tJnExOgp45FW7/CC4ArocvuHrvtpQKQ8EDw/U6+ifJNtUbrtrFleWdVUbkBahpv3Ob2kzkBOVRTiFz1U2mtuZk=AQAB" />

    <!-- 是否产生云文档测试数据 -->
    <add key="anysharetest" value="false" />

    <!-- 是否产生scada测试数据 -->
    <add key="scadatest" value="false" />

    <!--南网云文档需要下载的文件类型集，不同类型间使用英文逗号隔开如：.jpg,.png -->
    <add key="AnyshareNeedDownload" value=".dwg,.dxf" />
    
    <!--MongoDB服务地址-->
    <add key="mongodbServer" value="mongodb://scadaUser:PEadmin@192.168.66.167:9920,192.168.66.167:9921/scadaDB?ssl=true&amp;sslverifycertificate=false&amp;readPreference=secondaryPreferred" />
    <!--<add key="mongodbServer" value="mongodb://127.0.0.1"/>-->
    <!--MongoDB数据库名-->
    <add key="mongodbDB" value="scadaDB" />

    <!--从mongodb获取最新数据，当前时间加上时延大于最新数据的时间戳-->
    <add key="DelayOfGetDataFromMongodb" value="600000"/>

    
    <!--洗马河变越界参数配置-->
    <!--越界功能基准点配置，格式为“经度，纬度，海拔，X轴坐标，Z轴坐标，Y轴坐标”-->
    <add key="StandardPoint_1C34DC5D-8729-4652-8D6E-A4EA012A989D" value="102.7880789369,24.9063641107,50,0,0,0"/>
    <!--与现场纬度轴对应的模型的轴，现场纬度轴方向为自西向东-->
    <add key="ModelAxle_1C34DC5D-8729-4652-8D6E-A4EA012A989D" value="X"/>
    <!--模型轴与现场纬度轴的夹角，向北为正，向南为负-->
    <add key="AxleAngle_1C34DC5D-8729-4652-8D6E-A4EA012A989D" value="60"/>

 <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PR.WizPlant.Integrate.WcfHost.AnyShareRestWcfService">
        <endpoint binding="webHttpBinding" behaviorConfiguration="restBehavior" contract="PR.WizPlant.Integrate.AnyShare.IAnyShareRestWcfService" />
      </service>
      <service name="PR.WizPlant.Integrate.WcfHost.ScadaRestWcfService">
        <endpoint binding="webHttpBinding" behaviorConfiguration="restBehavior" contract="PR.WizPlant.Integrate.WcfHost.IScadaRestWcfService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="WcfBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restSecurityBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
        <endpoint address="http://10.111.8.199:9734/0D44ECD5-BECE-4B97-AD89-55FC01DB6D3C" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="SBTZSOA.SOAServicePort" name="SOAServicePort" />
    </client>
    <!--<extensions>
      <behaviorExtensions>
        --><!--<add name="SecurityBehaviorExtension" type="PR.WizPlant.Core.Easc.Wcf.SecurityContextBehaviorElement, PR.WizPlant.Core.Easc"/>--><!--
        <add name="SecurityServiceBehaviorExtension" type="PR.WizPlant.Core.Easc.Wcf.SecurityServiceBehaviorElement, PR.WizPlant.Core.Easc"/>
        --><!--<add name="SecurityRestBehaviorExtension" type="PR.WizPlant.Core.Easc.Wcf.SecurityContextRestBehaviorElement, PR.WizPlant.Core.Easc"/>--><!--
      </behaviorExtensions>
    </extensions>-->
  </system.serviceModel>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1215">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender" level="ERROR">
      <file value="Logs/errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="200KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] [%thread] %logger - %message%newline at %file:%line%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ALL" />
      </filter>
    </appender>
    <!-- Set default logging level to TRACE -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
    </root>
  </log4net>
</configuration>
